#indexbody{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#center{

 margin-top:10%;
 margin-bottom: 20%;
 text-align : center;
 width: 100%;
 height: 100%;
}

#mainimage img{
  margin-top:5%;
  width:100%;
  height:500px;
  border-radius: 8px;
  }

#left{
  margin-top: 60%;
  margin-left:20%;
}


#right{
  margin-top: 60%;
  margin-left: 35%;
}

#mealdelete{
    margin : 100px;
}

#mealdelete img{
  border-radius: 8%;
  width: 350px;
  height: 400px;
}

#mealform{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;

  }
.mealform_1{
  margin-top: 100px;

}

.mealform_2{
  margin-top: 20px;

}
