{% extends  'base.html' %}
{% block body_block %}

  <div class="offset-3 col-md-6" id="mealform">

      <div class="mealform_1">

        <h1>
        {% if not form.instance.pk %}
        Create Meal
        {% else %}
        Update Meal
        {% endif %}
        </h1>

      </div>

      <div class="mealform_2">

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {%for field in form%}
                    <p>{{field.label_tag}} {{field}}    </p>
                    <p></p>
                {% endfor %}

            </div>
          <button type="submit">Save</button>
        </form>
      </div>

  </div>
    <!--<form action = "#" accept-charset="utf-8" name = "food_info" method = "get">-->

               <!--식당 이름 : <input type="text" name="food_name"required><br></br>-->
               <!--음식 이름 : <input type = "text" name = "name" required/><br></br>-->

               <!--사진 업로드 : <input type="file" multiple accept='image/*|audio/*|video/*' >-->

               <!--평점 :<input type="radio" name="food" >상-->
                    <!--<input type="radio" name="food" >중-->
                    <!--<input type="radio" name="food" >하 <br></br>-->

               <!--<input type = "submit" value = "submit"/>-->
               <!--<input type = "reset" value = "reset"/><br><br>-->
    <!--</form>-->
{% endblock %}
