{% extends  'base.html' %}
{% block body_block %}
    <h1>
  {% if not form.instance.pk %}
  Create Meal
  {% else %}
  Update Meal
  {% endif %}
</h1>
<script>
    var = takePicture = document.querySelector("#take-picture");
    takePicture.onchange = function (even) {
        var files = event.target.files, file;
        if (files && files.length > 0) {
            file = files[0]
            }
         }

     var showPicture = document.querySelector("#show-picture");
     var URL = window.URL || window.webkitURL;
     var imgURL = URL.createObjectURL(file);
     showPicture.src = imgURL;
     URL.revokeObjectURL(imgURL);

</script>
<input type="file" id="take-picture" accept="media/*">
<img src="about:blank"  alt="" id="show-picture">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
    <!--<form action = "#" accept-charset="utf-8" name = "food_info" method = "get">-->

               <!--식당 이름 : <input type="text" name="food_name"required><br></br>-->
               <!--음식 이름 : <input type = "text" name = "name" required/><br></br>-->

               <!--사진 업로드 : <input type="file" multiple accept='image/*|audio/*|video/*' >-->

               <!--평점 :<input type="radio" name="food" >상-->
                    <!--<input type="radio" name="food" >중-->
                    <!--<input type="radio" name="food" >하 <br></br>-->

               <!--<input type = "submit" value = "submit"/>-->
               <!--<input type = "reset" value = "reset"/><br><br>-->
    <!--</form>-->
{% endblock %}