{% extends 'base.html' %}
{% block body_block %}
    <h1>음식 목록</h1>
    {{ list.as_p }}

    <!--<form action = "#" accept-charset="utf-8" name = "food_info" method = "get">-->

               <!--식당 이름 : <input type="text" name="food_name"required><br></br>-->
               <!--음식 이름 : <input type = "text" name = "name" required/><br></br>-->

               <!--사진 업로드 : <input type="file" multiple accept='image/*|audio/*|video/*' >-->

               <!--평점 :<input type="radio" name="food" >상-->
                    <!--<input type="radio" name="food" >중-->
                    <!--<input type="radio" name="food" >하 <br></br>-->

               <!--<input type = "submit" value = "submit"/>-->
               <!--<input type = "reset" value = "reset"/><br><br>-->
    <!--</form>-->
{% endblock %}