{% extends "base.html" %}
  {% block body_block %}
  <div class="container">
    <div class="picture_food">
      <a href="%url  "> <img src="{{recommended_meal.meal_photo.url}}" class = "img-rounded"></a>
      <h1>{{recommended_meal.meal_name}}</h1>
      <ul>
        <p>{{recommended_meal.restaurant_name}}</p>
        <p>{{recommended_meal.price_range}}</p>
        <p>{{recommended_meal.satisfaction}}</p>
      </ul>
    </div>
  </div>


      <div class="left">
        <div class = "left_1">
          <i class="fas fa-angle-left"><a href="#"></a></i>
        </div>

      </div>

      <div class="right">
       <div class = "right_!">
         <i class="fas fa-angle-right"><a href="#"></a></i>
       </div>
      </div>
  {% endblock %}
