{% extends "base.html" %}

  {% block body_block %}
  <div class="container">
    <div class="picture_food">

        <a href="{%url 'meals:detail' pk=recommended_meal.pk %}"><img src="{{recommended_meal.meal_photo.url}}" class = "img-rounded"></a>
      <h3>요리 : {{recommended_meal.meal_name}}</h3>
      <ul>
        <p>식당 이름 :{{recommended_meal.restaurant_name}}</p>

      </ul>
    </div>
  </div>


      <div class="left">
        <div class = "left_1">
          <i class="fas fa-angle-left"><a href="#"></a></i>
        </div>

      </div>

      <div class="right">
       <div class = "right_!">
         <i class="fas fa-angle-right"><a href="#"></a></i>
       </div>
      </div>
  {% endblock %}
